
@{
    ViewData["Title"] = "DisplayByYear";
}
@model YearSearchRoot

<h1>DisplayByYear</h1>
<table class="table align-items-xl-center">
    <tr>
        <td>Title</td>
        <td>Year</td>
        <td>Rating</td>
    </tr>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Year</td>
            <td>@Model.Rated</td>
            <td><img src=@Model.Poster></td>

            <td>
                <form action="../MovieAPIDb/AddFavorites" method="post">
                    <input type="hidden" name="Title" value="@Model.Title" />
                    <input type="hidden" name="imdbID" value="@Model.imdbID" />
                    <input type="hidden" name="Year" value="@Model.Year" />
                    <input type="hidden" name="Type" value="@Model.Type" />
                    <input type="hidden" name="Poster" value="@Model.Poster" />

                    <input type="submit" value="Add To Favorites" />

                </form>
            </td>

        </tr>
    
</table>

<form action="../Movie/DisplaySearch" method="post">
</form>
