
@{
    ViewData["Title"] = "DisplaySearch";
}
@model SearchRoot

<h1>Search Movies</h1>
<table class="table align-items-xl-center">
    <tr>
        <td>Title</td>
        <td>iMDb iD</td>
        <td>Year</td>
    </tr>
    @foreach (Search searchMovie in Model.Search)
    {


<tr>
    <td>@searchMovie.Title</td>
    <td>@searchMovie.imdbID</td>
    <td>@searchMovie.Year</td>

    <td><form action="../Movie/AddFavorites" method="post">
    <input type="hidden" name="Title" value="@searchMovie.Title" />
    <input type="hidden" name="Title" value="@searchMovie.imdbID" />
    <input type="hidden" name="Title" value="@searchMovie.Year" />

    <input type="submit" value="Add To Favorites" />

</form></td>

</tr>
    }
</table>

<form action="../Movie/DisplaySearch" method="post">


</form>
